<h1>使い方</h1>

<p>このサイトは<a href="https://twitter.com/makokamiya">私</a>が私的に作った運動を記録するwebアプリケーションです。</p>
<p>運動した内容や、腹囲など計測した値を記録する目的で作りました。</p>
<p>現時点では、簡単な記録しかできませんが、随時アップデートしていきたいと思います。</p>
<p>気になる点がありましたら、<a href="https://twitter.com/makokamiya">DM</a>ください</p>
<p>よろしくお願いします。</p>