<p>ユーザー<%= @user.id %><%= @user.name%></p>
<% if @current_user === @user%>
    <form action="/user_delete/<%= @user.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="btn btn-outline-danger btn-sm" value="とうろくかいじょ">
    </form>
<% end %>